In [1]:
# !pip install s3fs

In [2]:
# !pip install boto3

In [8]:
import boto3 
import pandas as pd

In [9]:
s3=boto3.resource(
    service_name="s3",
    region_name="us-east-2",           
    aws_access_key_id="AKIAQBEFE4ONSB6YKZ2Z",                      
    aws_secret_access_key="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"
    )
# lptest2
# AKIAQBEFE4ONSB6YKZ2Z

In [10]:
##### print out bucket names
for i in s3.buckets.all():
    print(i.name)

lptest1
lptest2

In [11]:
import pandas as pd

# Make dataframes
foo = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})
bar = pd.DataFrame({'x': [10, 20, 30], 'y': ['aa', 'bb', 'cc']})

# Save to csv
bar.to_csv('foo.csv')
bar.to_csv('bar.csv')

In [12]:
bar

    x   y
0  10  aa
1  20  bb
2  30  cc

In [14]:
foo

   x  y
0  1  a
1  2  b
2  3  c

In [15]:
# Upload files to S3 bucket
s3.Bucket('lptest2').upload_file(Filename='foo.csv', Key='foo.csv')
s3.Bucket('lptest2').upload_file(Filename='bar.csv', Key='bar.csv')

In [16]:
for obj in s3.Bucket('lptest2').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='lptest2', key='bar.csv')
s3.ObjectSummary(bucket_name='lptest2', key='foo.csv')

In [18]:
# Load csv file directly into python
obj = s3.Bucket('lptest2').Object('foo.csv').get()
foo = pd.read_csv(obj['Body'], index_col=0)

In [22]:
# Load csv file directly into python
obj = s3.Bucket('lptest2').Object('bar.csv').get()
bar = pd.read_csv(obj['Body'], index_col=0)

In [24]:
# Download file and read from disc
s3.Bucket('lptest2').download_file(Key='foo.csv', Filename='foo2.csv')
pd.read_csv('foo2.csv', index_col=0)

   x  y
0  1  a
1  2  b
2  3  c

In [3]:
import sagemaker
from sagemaker.amazon.amazon_estimator import get_image_uri 
from sagemaker.session import s3_input, Session

ModuleNotFoundError: No module named 'sagemaker'

In [4]:
import boto3

In [11]:
bucket_name = 'bankapplication3' # <--- CHANGE THIS VARIABLE TO A UNIQUE NAME FOR YOUR BUCKET
my_region = boto3.session.Session().region_name # set the region of the instance
print(my_region)

None

In [12]:
s3 = boto3.resource('s3')
try:
    if  my_region == 'us-east-2':
        s3.create_bucket(Bucket=bucket_name)
    print('S3 bucket created successfully')
except Exception as e:
    print('S3 error: ',e)

S3 bucket created successfully